In [1]:
import numpy as np
import pandas as pd

In [4]:
rf_df = pd.read_excel('../data/return/rf_df.xlsx',index_col=0)
rf_df

          return         p0         p1  p1/p0 -1
20100104   2.380  73.751494  81.791641  0.109017
20100105   2.340  99.413696  99.615235  0.002027
20100106   2.340  99.423408  99.615235  0.001929
20100107   2.320  99.423408  99.618480  0.001962
20100108   2.310  99.428266  99.620103  0.001929
...          ...        ...        ...       ...
20191223   1.258  99.687950  99.791858  0.001042
20191224   1.258  99.687950  99.791858  0.001042
20191226   1.261  99.687950  99.791365  0.001037
20191227   1.262  99.687211  99.791201  0.001043
20191230   1.262  99.686965  99.791201  0.001046

[2466 rows x 4 columns]

In [58]:
rf_df.index[20]

20100201

In [55]:
yyyymmdd_ls[-1]

201912

In [81]:
yyyymmdd_ls = list(map(lambda x: int(str(x)[:-2]),rf_df.index))
idx_ls = []
for i in range(len(yyyymmdd_ls)-1) : 
    if yyyymmdd_ls[i] != yyyymmdd_ls[i+1] : 
        idx_ls.append(i)
idx_ls.append(-1)

monthly_rf_df = rf_df.iloc[idx_ls,-1:]
monthly_rf_df.columns = {'rf'}

In [82]:
monthly_rf_df

                rf
20100129  0.001970
20100226  0.001840
20100331  0.001750
20100430  0.001709
20100531  0.001782
...            ...
20190830  0.001032
20190930  0.001032
20191031  0.001030
20191129  0.001044
20191230  0.001046

[120 rows x 1 columns]

In [63]:
monthly_rf_df.to_csv('./monthly.csv')